<h2 class="pageHeading">Add User</h2>

<div class="yui-g">
  
  <p>
    Do you want to add <strong><%= @connection.connected_user.login %></strong> to your network?
  </p>
  
  <% form_for [current_user, @connection] do |form| %>
    <div style="margin: 0; padding: 0; display: inline">
      <%= form.hidden_field :user_id %>
      <%= form.hidden_field :connected_user_id %>
    </div>
    <p>
      <%= form.error_messages %>
    </p>
    <p>
      <%= form.submit 'Yes' %>
      <%= form.submit 'No' %>
    </p>
  <% end %>

</div>