<h2>Downloads</h2>

<div class="yui-g">
  
  <h3>Instructions</h3>
  
  <ul>
    <li>
      <%= link_to 'Sign Up', new_user_path %> and activate your account if you have not already done so.
    </li>
    <li>
      Download, install &amp; run the desktop application for your platform.
    </li>
    <li>
      The desktop application keeps your account on <%= link_to 'installd.com', root_path %> up-to-date with the applications you have installed.
    </li>
    <li>
      Set your credentials in the desktop application preferences.
    </li>
    <li>
      Synchronize your applications so that they appear on <%= link_to 'installd.com', root_path %>.
    </li>
  </ul>
  
  <h3>Platforms</h3>
  
  <ul>
    <li>
      <%= link_to 'Macintosh', mac_downloads_path %>
    </li>
    <li>
      <%= link_to 'Linux', linux_downloads_path %>
    </li>
    <li>
      <%= link_to 'Windows', windows_downloads_path %>
    </li>
  </ul>
  
</div>