<h2><%= h("#{@user.login}'s Network") %></h2>

<p>
  <%= link_to 'All', user_network_path(@user) %> | <%= link_to 'Common', in_common_user_network_path(@user) %> | <%= link_to 'Not in Common', not_in_common_user_network_path(@user) %>
</p>

<div class="yui-gb">
  <div class="yui-u first">
    <ul class="installs">
      <% @apps[0..4].each_with_index do |app, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(app) %>
            <%= heading(app) %>
            <div class="details">
              <p>
                purchased by <%= pluralize(app.installs.size, 'user') %>
              </p>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @apps[5..9].to_a.each_with_index do |app, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(app) %>
            <%= heading(app) %>
            <div class="details">
              <p>
                purchased by <%= pluralize(app.installs.size, 'user') %>
              </p>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @apps[10..14].to_a.each_with_index do |app, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(app) %>
            <%= heading(app) %>
            <div class="details">
              <p>
                purchased by <%= pluralize(app.installs.size, 'user') %>
              </p>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @apps %>
