<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<h2 class="pageHeading"><%= h("#{@user.login}'s Network") %></h2>

<p>
  <%= link_to 'All', user_network_path(@user) %> | <%= link_to 'Common', in_common_user_network_path(@user) %> | <%= link_to 'Not in Common', not_in_common_user_network_path(@user) %>
</p>

<div class="yui-gb">
  <% @apps.each_slice(5) do |apps| %>
    <% first = (apps.first == @apps.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% apps.each do |app| %>
          <% last = (app == apps.last) ? ' last' : '' %>
          <%= render :partial => app, :locals => { :last => last } %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= will_paginate @apps %>
