<h1><%= h(@user.login) %></h1>

<h2>Apps Installed by Friends</h2>

<%= link_to 'All', user_network_path(@user) %> | <%= link_to 'Common', in_common_user_network_path(@user) %> | <%= link_to 'Not in common', not_in_common_user_network_path(@user) %>

<ul class="installs">
  <%- @friends_installs.each do |app, installs| -%>
    <li class="install">
      <span class="app"><%= link_to image_tag(app.icon.url), app.url, :class => 'icon' %> <%= link_to app.name, app.url, :class => 'name' %></span> (<%= pluralize(installs.length, 'install') %>)
    </li>
  <%- end -%>
</ul>

<%= will_paginate @friends_installs %>