<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<h2 class="pageHeading"><%= h(@title) %></h2>

<p>
  <%= link_to 'All', user_network_path(@user) %> | <%= link_to 'Common', in_common_user_network_path(@user) %> | <%= link_to 'Not in Common', not_in_common_user_network_path(@user) %>
</p>

<div class="yui-gb">
  <% @apps.each_slice(5) do |apps| %>
    <% first = (apps.first == @apps.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% apps.each do |app| %>
          <% last = (app == apps.last) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(app) %>
            <div class="heading">
              <%= heading(app) %>
              <%= buy_link(app) %>
            </div>
            <div class="details">
              <p>
                currently installed by <%= pluralize(app.number_of_installs, 'user') %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="yui-u">
    <% if @connected_users.any? || @inbound_connected_users.any? %>
    <div class="networkDetails">
      <% if @connected_users.any? %>
      <div class="section">
        <h3>Connections</h3>
        <ul>
          <% @connected_users.each do |user| %>
            <li>
              <%= link_to user.login, user_path(user) %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% if @inbound_connected_users.any? %>
      <div class="section last">
        <h3>Fans</h3>
        <ul>
          <% @inbound_connected_users.each do |user| %>
            <li>
              <%= link_to user.login, user_path(user) %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="innerFooter">
  <%= will_paginate @apps %>
</div>
