<h2>Users</h2>

<div class="yui-g">
  <table>
    <thead>
      <th>Login</th>
      <th>Email</th>
      <th>Active</th>
      <th>Login Count</th>
      <th>Last Request</th>
      <th>Last Login</th>
      <th>Current Login</th>
      <th>Perishable Token</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Invited</th>
      <th></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.login %></td>
          <td><%= user.email %></td>
          <td><%= user.active? ? 'Y' : 'N' %></td>
          <td><%= user.login_count %></td>
          <td><%= user.last_request_at ? time_ago_in_words(user.last_request_at) : '-' %></td>
          <td><%= user.last_login_at ? time_ago_in_words(user.last_login_at) : '-' %></td>
          <td><%= user.current_login_at ? time_ago_in_words(user.current_login_at) : '-' %></td>
          <td><%= user.perishable_token %></td>
          <td><%= time_ago_in_words(user.created_at) %></td>
          <td><%= time_ago_in_words(user.updated_at) %></td>
          <td><%= user.last_invited_at ? time_ago_in_words(user.last_invited_at) : '-' %></td>
          <td>
            <% unless user.active? %>
              <%= button_to 'Invite', invite_user_path(user.id), :method => :put %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @users %>