<h1>Register</h1>

<%- form_for @user do |form| -%>
  <p>
    <%= form.error_messages %>
  </p>
  <p>
    <%= form.label :login %>
    <%= form.text_field :login %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %> 
  </p>
  <p>
    <%= form.submit "Register" %>
  </p>
<%- end -%>
