<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"</script>
  <script type="text/javascript" src="/javascripts/jquery.all-plugins.min.js"></script>
  
  <script type="text/javascript">
    $(function() {
      $.fn.rating.options.required = true;
      $('.auto-submit-star').rating({
        callback: function(value, link) {
          progress = $(this.form).children('.progress')
          progress.show();
          $(this.form).ajaxSubmit({
            // success: function(data, status) {
            //   alert('success:' + data + status);
            // },
            // error: function(request, status, error) {
            //   alert('error:' + status + error);
            // },
            complete: function(request, status) {
              progress.hide();
            }
          });
        }
      });
      $('.install .rate').hide();
    });
  </script>
<% end %>

<h2 class="pageHeading"><%= h("#{@user.login}'s Recent Apps") %></h2>

<% if current_user %>
  <% if current_user.can_connect?(@user) %>
  <div id="networking">
    (<%= link_to 'Add this user to my network', new_user_connection_path(@user) %>)
  </div>
  <% elsif current_user.already_connected?(@user) %>
  <div id="networking">
    (<%= link_to 'Remove this user from my network', delete_user_connection_path(@user) %>)
  </div>
  <% end %>
<% end %>

<div class="yui-gb">
  <% @apps.each_slice(5) do |apps| %>
    <% first = (apps.first == @apps.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% apps.each do |app| %>
          <% event = app.events.first %>
          <% last = (app == apps.last) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(app) %>
            <div class="heading">
              <%= heading(app) %>
              <%= buy_link(app) %>
            </div>
            <div class="details">
              <p>
                <%= event_details(event) %>
              </p>
              <p>
                <%= release_details(event) %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="innerFooter">
  <%= will_paginate @apps %>
</div>
