<h1><%= h(@user.login) %></h1>

<%- if current_user -%>
  <%- if current_user.can_make_friends?(@user) -%>
  <p>
    <%= link_to 'Add as Friend', new_user_friendship_path(@user) %>
  </p>
  <%- elsif current_user.already_friends?(@user) -%>
  <p>
    You are friends with this user.
  </p>
  <%- end -%>
<%- end -%>

<h2>Applications Installed</h2>

<table class="apps">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%- @user.installs.each do |install| -%>
      <%- app = install.app -%>
      <tr class="app">
        <td class="icon">
          <%= link_to image_tag(app.icon_url), app.url %>
        </td>
        <td class="name">
          <%= link_to app.name, app.url %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<h2>Applications Installed by Friends</h2>

<table class="appsInstalledByFriends">
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%- @user.friends_installs.each do |install| -%>
      <%- app = install.app -%>
      <tr class="app">
        <td class="icon">
          <%= link_to image_tag(app.icon_url), app.url %>
        </td>
        <td class="name">
          <%= link_to app.name, app.url %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>