<h2 id="user"><%= h("#{@user.login}'s Apps") %></h2>

<% if current_user %>
  <% if current_user.can_connect?(@user) %>
  <div id="networking">
    (<%= link_to 'Add this user to my network', new_user_connection_path(@user) %>)
  </div>
  <% elsif current_user.already_connected?(@user) %>
  <div id="networking">
    (<%= link_to 'Remove this user from my network', delete_user_connection_path(@user) %>)
  </div>
  <% end %>
<% end %>

<div class="yui-gb">
  <div class="yui-u first">
    <ul class="installs">
      <% @installs[0..4].each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class=firstOfTwoParagraphs>
              purchased <%= time_ago_in_words(install.purchased_at) %> ago for <%= install.display_price.downcase %>
            </p>
            <p class=lastOfTwoParagraphs>
              released <%= time_ago_in_words(install.released_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[5..9].to_a.each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class=firstOfTwoParagraphs>
              purchased <%= time_ago_in_words(install.purchased_at) %> ago for <%= install.display_price.downcase %>
            </p>
            <p class=lastOfTwoParagraphs>
              released <%= time_ago_in_words(install.released_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[10..14].to_a.each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class=firstOfTwoParagraphs>
              purchased <%= time_ago_in_words(install.purchased_at) %> ago for <%= install.display_price.downcase %>
            </p>
            <p class=lastOfTwoParagraphs>
              released <%= time_ago_in_words(install.released_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @installs %>
