<% content_for :javascripts do %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"</script>
  <script type="text/javascript" src="/javascripts/jquery.all-plugins.min.js"></script>
  
  <script type="text/javascript">
    $(function() {
      $.fn.rating.options.required = true;
      $('.auto-submit-star').rating({
        callback: function(value, link) {
          progress = $(this.form).children('.progress')
          progress.show();
          $(this.form).ajaxSubmit({
            complete: function() {
              progress.hide();
            }
          });
        }
      });
      $('.install .rate').hide();
      
      $('.manualUninstall').submit(function() {
        button = $(this).children('input[type=submit]');
        button.attr('disabled', 'disabled');
        progress = $(this).children('.progress');
        $(this).ajaxSubmit({
          beforeSubmit: function() {
            if (confirm('Do you really want to uninstall?')) {
              progress.show();
              return true;
            } else {
              button.attr('disabled', null);
              return false;
            };
          },
          complete: function() {
            progress.hide();
          }
        });
        return false;
      });
    });
  </script>
<% end %>

<h2 class="pageHeading"><%= h("#{@user.login}'s Recent Apps") %></h2>

<% if current_user %>
  <% if current_user.can_connect?(@user) %>
  <div id="networking">
    (<%= link_to 'Add this user to my network', new_user_connection_path(current_user, :connected_user_id => @user) %>)
  </div>
  <% elsif current_user.already_connected?(@user) %>
  <div id="networking">
    (<%= link_to 'Remove this user from my network', delete_user_connection_path(current_user, current_user.connections.for_user(@user).first) %>)
  </div>
  <% end %>
<% end %>

<div class="yui-gb">
  <% @apps.each_slice(5) do |apps| %>
    <% first = (apps.first == @apps.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% apps.each do |app| %>
          <% event = app.events.first %>
          <% last = (app == apps.last) ? ' last' : '' %>
          <li id="<%= app.identifier %>" class="install<%= last %>">
            <%= icon(app) %>
            <div class="heading">
              <%= heading(app) %>
              <%= buy_link(app) %>
              <% if @user.me?(current_user) %>
                <%= render :partial => 'reviews/rating', :locals => { :review => app.review_by_user(@user) } %>
                <%# render :partial => 'events/uninstall', :locals => { :user => @user, :app => app } %>
              <% end %>
            </div>
            <div class="details">
              <p>
                <%= event_details(event) %>
              </p>
              <p>
                <%= release_details(event) %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="innerFooter">
  <%= will_paginate @apps %>
</div>
