<h1><%= h(@user.login) %></h1>

<%- if current_user -%>
  <%- if current_user.can_make_friends?(@user) -%>
  <p>
    <%= link_to 'Add as Friend', new_user_friendship_path(@user) %>
  </p>
  <%- elsif current_user.already_friends?(@user) -%>
  <p>
    You are friends with this user.
  </p>
  <%- end -%>
<%- end -%>

<p>
  <%= link_to 'Applications Installed by Friends', user_friends_installs_path(@user) %>
</p>

<h2>Apps Installed</h2>

<ul class="installs">
  <%- @installs.each do |install| -%>
    <%- app = install.app -%>
      <li class="install">
        <span class="app"><%= link_to image_tag(app.icon_url), app.url, :class => 'icon' %> <%= link_to app.name, app.url, :class => 'name' %></span>
      </li>
  <%- end -%>
</ul>

<%= will_paginate @installs %>