<% content_for :head do %>
  <%= render :partial => '/shared/rss' %>
  
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css"/>
  
  <script type="text/javascript" src="/javascripts/jquery-1.3.2.js"</script>
  <script type="text/javascript" src="/javascripts/jquery.form.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.MetaData.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.rating.js"></script>
  
  <script type="text/javascript">
    $(function() {
      $.fn.rating.options.required = true;
      $('.auto-submit-star').rating({
        callback: function(value, link) {
          $(this.form).ajaxSubmit();
        }
      });
      $('.install .rate').hide();
    });
  </script>
<% end %>

<h2 id="user"><%= h("#{@user.login}'s Apps") %></h2>

<% if current_user %>
  <% if current_user.can_connect?(@user) %>
  <div id="networking">
    (<%= link_to 'Add this user to my network', new_user_connection_path(@user) %>)
  </div>
  <% elsif current_user.already_connected?(@user) %>
  <div id="networking">
    (<%= link_to 'Remove this user from my network', delete_user_connection_path(@user) %>)
  </div>
  <% end %>
<% end %>

<div class="yui-gb">
  <div class="yui-u first">
    <ul class="installs">
      <% @installs[0..4].to_a.each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[5..9].to_a.each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[10..14].to_a.each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @installs %>
