<p>
  <b>Name:</b>
  <%=h @app.name %>
</p>

<p>
  <b>Item Id:</b>
  <%=h @app.item_id %>
</p>

<p>
  <b>Icon URL:</b>
  <%=h @app.icon_url %>
</p>

<p>
  <a href="<%=h @app.url %>">
    <img border="0" src="<%=h @app.icon_url %>" />
  </a>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
