<%- form_for @user_session, :url => user_session_path do |form| -%>
  <p>
    <%= form.label :login %>
    <%= form.text_field :login %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </p>
  <p>
    <%= form.submit 'Login' %>
  </p>
<%- end -%>