<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% if @user %>
  <h2 class="pageHeading"><%= @user.login %>'s Recent Events</h2>
<% else %>
  <h2 class="pageHeading">Recent Events</h2>
<% end %>

<div class="yui-gb">
  <% @events.each_slice(5) do |events| %>
    <% first = (events.first == @events.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% events.each do |event| %>
          <% last = (event == events.last) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(event.app) %>
            <div class="heading">
              <%= heading(event.app) %>
              <%= buy_link(event.app) %>
            </div>
            <div class="details">
              <p>
                <%= event_details(event) %>
              </p>
              <p>
                <%= release_details(event) %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="innerFooter">
  <%= will_paginate @events %>
</div>
