<h2 class="pageHeading">About</h2>

<h3>Introduction</h3>

<p>
  I'm building <%= link_to 'installd.com', root_path %>, because I want a better way to discover useful <%= link_to 'iPhone', 'http://www.apple.com/iphone/' %> <%= link_to 'applications', 'http://www.apple.com/iphone/apps-for-iphone/' %>.
</p>

<p>
  The <%= link_to 'App Store', 'http://www.apple.com/iphone/iphone-3gs/app-store.html' %>'s list of <em>Top</em> or <em>Hot</em> applications is interesting but too generic, and not tailored to my interests.
</p>

<p>
  So, to improve the signal-to-noise ratio, I'd like to know what applications my friends have installed on their iPhones.
</p>

<h3>Application Ownership</h3>

<p>
  If someone has taken the trouble to actually install (or even purchase) an application :-
  <ul>
    <li>
      They've made a decision to select that application over others.
    </li>
    <li>
      They're more likely to know whether the application is any good.
    </li>
  </ul>
</p>

<h3>Social Network</h3>

<p>
  If I know the person who has installed an application (or if I have previously received a good recommendation from them) :-
  <ul>
    <li>
      I'm more likely to trust their judgement in the installation/purchasing decision.
    </li>
    <li>
      I'm more likely to trust their reviews or ratings for the application.
    </li>
  </ul>
</p>

<h3>How It Works</h3>

<p>
  I want the list of a user's installed applications to be automatically added to installd.com and for this list to be automatically kept up-to-date.
</p>

<p>
  I would've liked to have built an iPhone app to do this, but due to the iPhone application <%= link_to 'sandbox restrictions', 'http://developer.apple.com/iPhone/library/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/ApplicationEnvironment/ApplicationEnvironment.html#//apple_ref/doc/uid/TP40007072-CH7-SW44' %> this is not possible.
</p>

<p>
  So, instead, I've built a desktop application which reads application data from the <%= link_to 'iTunes', 'http://www.apple.com/itunes/' %> file system.
</p>

<p>
  The desktop application relies on you sync-ing your iPhone with iTunes on your desktop computer.
</p>

<p>
  This desktop application is currently only available for the Mac. So far it's only been tested by users in the United Kingdom. There may be unexpected results when using from elsewhere.
</p>

<h3>Finance</h3>

<p>
  At the moment I'm financing this project out of my own pocket.
</p>

<p>
  However, the iTunes buy links are <%= link_to 'App Store', 'http://www.apple.com/iphone/iphone-3gs/app-store.html' %> affiliate links. If someone clicks on one of these links and goes on to purchase the App, I will receive 4% of the purchase price.
</p>

<p>
  Otherwise I have no plans to charge for use of the service.
</p>

<h3>Feedback</h3>

<p>
  I'd welcome any feedback on the existing functionality or functionality you'd like to see.
</p>

<p>
  There's a <%= link_to 'Support Forum', 'http://groups.google.com/group/installd' %> and a <%= link_to 'Twitter', 'http://twitter.com/installd' %> account if you want to get in touch.
</p>