<li class="install<%= last %>">
  <%= icon(app) %>
  <div class="heading">
    <%= heading(app) %>
    <%= buy_link(app) %>
  </div>
  <div class="details">
    <p>
      currently installed by <%= pluralize(app.number_of_installs, 'user') %>
    </p>
  </div>
</li>
