<h2>Listing apps</h2>

<table>
<% for app in @apps %>
  <tr>
    <td>
      <a href="<%=h app.url %>">
        <img border="0" src="<%=h app.icon_url %>" />
      </a>
    </td>
    <td><%=h app.name %></td>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New app', new_app_path %>
