<div class="app">
  <%= icon(@app) %>
  <div class="heading">
    <% content_tag('h2', :class => 'appName') do %>
      <%= link_to truncate(@app.name), app_path(@app) %>
    <% end %>
  </div>
  <div class="buyLink">
    <%= buy_link(@app) %>
  </div>
  <div class="details">
  </div>
</div>

<div class="yui-gc">
  <div class="yui-u first">
    <%= html_description(@app) %>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs.each do |install| %>
        <% last = (install == @installs.last) ? ' last' : '' %>
        <li class="install<%= last %>">
          <div class="details">
            <p>
              purchased by <%= link_to install.user.login, user_path(install.user) %> <%= time_ago_in_words(install.purchased_at).gsub(/about /, '') %> ago for <%= install.display_price.downcase %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="innerFooter">
  <%= will_paginate @installs %>
</div>
