<h1><%= h(@user.login) %></h1>

<h2>Apps Installed by Friends</h2>

<%= link_to 'All', user_friends_installs_path(@user) %> | <%= link_to 'Common', user_friends_installs_path(@user, :filter => 'common') %> | <%= link_to 'Uncommon', user_friends_installs_path(@user, :filter => 'uncommon') %>

<ul class="installs">
  <%- @friends_installs.each do |app, installs| -%>
    <li class="install">
      <span class="app"><%= link_to image_tag(app.icon_url), app.url, :class => 'icon' %> <%= link_to app.name, app.url, :class => 'name' %></span> (<%= pluralize(installs.length, 'install') %>)
    </li>
  <%- end -%>
</ul>

<%= will_paginate @friends_installs %>