<li class="install<%= last %>">
  <%= icon(install.app) %>
  <div class="heading">
    <%= heading(install.app) %>
    <% if current_user && (current_user == @user) %>
      <%= render :partial => '/installs/rating', :locals => { :install => install } %>
    <% else %>
      <%= stars(install.rating) %>
    <% end %>
    <%= buy_link(install.app) %>
  </div>
  <div class="details">
    <p>
      purchased by <%= link_to install.user.login, user_path(install.user) %> <%= time_ago_in_words(install.purchased_at).gsub(/about /, '') %> ago for <%= install.display_price.downcase %>
    </p>
    <p>
      released <%= time_ago_in_words(install.released_at) %> ago
    </p>
  </div>
</li>
