<% content_for :links do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<% if @user %>
  <h2 class="pageHeading"><%= @user.login %>'s Recent Events</h2>
<% else %>
  <h2 class="pageHeading">Recent Events</h2>
<% end %>

<div class="yui-gb">
  <% @installs.each_slice(5) do |installs| %>
    <% first = (installs.first == @installs.first) ? ' first' : '' %>
    <div class="yui-u <%= first %>">
      <ul class="installs">
        <% installs.each do |install| %>
          <% last = (install == installs.last) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= icon(install.app) %>
            <div class="heading">
              <%= heading(install.app) %>
              <%= buy_link(install.app) %>
            </div>
            <div class="details">
              <p>
                <%= install_event_details(install) %>
              </p>
              <p>
                <%= install_release_details(install) %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="innerFooter">
  <%= will_paginate @installs %>
</div>
