<h1>Listing installs</h1>

<table>
  <tr>
    <th>User</th>
    <th>App</th>
  </tr>

<% for install in @installs %>
  <tr>
    <td><%=h install.user_id %></td>
    <td><%=h install.app_id %></td>
    <td><%= link_to 'Show', install %></td>
    <td><%= link_to 'Edit', edit_install_path(install) %></td>
    <td><%= link_to 'Destroy', install, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New install', new_install_path %>
