<%- if @user -%>
  <h2>Applications Installed by <%= h(@user.login) %></h2>
<%- else -%>
  <h2>Applications Installed</h2>
<%- end -%>

<ul>
  <li>
    <%= link_to 'Sign In', new_user_session_path %>
  </li>
  <li>
    <%= link_to 'Register', new_user_path %>
  </li>
  <li>
    <%= link_to 'Sign Out', delete_user_session_path %>
  </li>
</ul>

<ul class="installs">
  <%- @installs.each do |install| -%>
    <%- app = install.app -%>
      <li class="install">
        <span class="app"><%= link_to image_tag(app.icon_url), app.url, :class => 'icon' %> <%= link_to app.name, app.url, :class => 'name' %></span>
      </li>
  <%- end -%>
</ul>

<%= will_paginate @installs %>