<h2>Recent Apps</h2>

<div class="yui-gb">
  <div class="yui-u first">
    <ul class="installs">
      <% @installs[0..4].each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class="installed">
              installed by <%= link_to install.user.login, user_path(install.user) %> <%= time_ago_in_words(install.purchased_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[5..9].to_a.each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class="installed">
              installed by <%= link_to install.user.login, user_path(install.user) %> <%= time_ago_in_words(install.purchased_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[10..14].to_a.each_with_index do |install, index| %>
        <% app = install.app %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
          <li class="install<%= last %>">
            <%= link_to image_tag(app.icon.url), app.url, :class => 'appIcon' %>
            <% content_tag('h3', :class => 'appName') do %>
              <%= link_to truncate(app.name), app_path(app) %>
            <% end %>
            <p class="installed">
              installed by <%= link_to install.user.login, user_path(install.user) %> <%= time_ago_in_words(install.purchased_at) %> ago
            </p>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @installs %>
