<% content_for :head do %>
  <%= render :partial => '/shared/rss' %>
<% end %>

<h2>Recent Apps</h2>

<div class="yui-gb">
  <div class="yui-u first">
    <ul class="installs">
      <% @installs[0..4].each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[5..9].to_a.each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
  <div class="yui-u">
    <ul class="installs">
      <% @installs[10..14].to_a.each_with_index do |install, index| %>
        <% last = (index % 5 == 4) ? ' last' : '' %>
        <%= render :partial => '/installs/list_item' , :locals => { :install => install, :last => last } %>
      <% end %>
    </ul>
  </div>
</div>

<%= will_paginate @installs %>
