<h2 class="pageHeading">Sign In</h2>

<div class="yui-g">

  <% form_for @user_session, :url => user_session_url(:protocol => 'https') do |form| %>
    <p>
      <%= form.error_messages %>
    </p>
    <p>
      <%= form.label :login, 'Login:' %>
      <%= form.text_field :login %>
    </p>
    <p>
      <%= form.label :password, 'Password:' %>
      <%= form.password_field :password %>
    </p>
    <p>
      <%= form.submit 'Sign In' %>
    </p>
  <% end %>
  
</div>