<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>installd</title>
  
  <% if Rails.env.production? %>
  <!-- Combo-handled YUI CSS files (generated from http://developer.yahoo.com/yui/articles/hosting/?fonts&grids&menu&reset&MIN): -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/reset-fonts-grids/reset-fonts-grids.css&2.7.0/build/menu/assets/skins/sam/menu.css">
  <% else %>
  <!-- Combo-handled YUI CSS files (generated from http://developer.yahoo.com/yui/articles/hosting/?fonts&grids&menu&reset&DEBUG&norollup): -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/fonts/fonts-min.css&2.7.0/build/reset/reset-min.css&2.7.0/build/grids/grids-min.css&2.7.0/build/menu/assets/skins/sam/menu.css&2.7.0/build/logger/assets/skins/sam/logger.css">
  <% end %>
  
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  
  <% if @rss_feed_url %>
    <link rel="alternate" title="Installd RSS" href="<%= @rss_feed_url %>" type="application/rss+xml"/>
  <% end %>
  
  <% if Rails.env.production? %>
  <!-- Combo-handled YUI JS files (generated from http://developer.yahoo.com/yui/articles/hosting/?fonts&grids&menu&reset&MIN): -->
  <script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&2.7.0/build/container/container_core-min.js&2.7.0/build/menu/menu-min.js"></script>
  <% else %>
  <!-- Combo-handled YUI JS files (generated from http://developer.yahoo.com/yui/articles/hosting/?fonts&grids&menu&reset&DEBUG&norollup): -->
  <script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo/yahoo-debug.js&2.7.0/build/dom/dom-debug.js&2.7.0/build/event/event-debug.js&2.7.0/build/container/container_core-debug.js&2.7.0/build/menu/menu-debug.js&2.7.0/build/logger/logger-debug.js"></script>
  <% end %>
  
  <script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () {
      var oMenuBar = new YAHOO.widget.MenuBar("navigation", { autosubmenudisplay: true });
      oMenuBar.render();
    });
  </script>
  
</head>

<body class="yui-skin-sam">
  
  <div id="doc3">
    <div id="hd">
      
      <% content_tag('h1', :class => 'siteTitle') do %>
        <%= link_to 'installd', root_path %>
      <% end %>
      
      <div id="userSession">
      <% if current_user %>
        Signed in as <%= link_to current_user.login, user_path(current_user) %> | <%= link_to 'Sign Out', delete_user_session_path %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      </div>
      
      <div id="navigation" class="yuimenubar yuimenubarnav">
        <div class="bd">
          <ul class="first-of-type">
            <li class="yuimenubaritem first-of-type">
              <%= link_to 'Home', root_path, :class => "yuimenubaritemlabel" %>
            </li>
            <li class="yuimenubaritem">
              <% if current_user %>
                <%= link_to 'Apps', user_path(current_user), :class => "yuimenubaritemlabel" %>
              <% else %>
                <%= link_to 'Apps', root_path, :class => "yuimenubaritemlabel" %>
              <% end %>
              <div id="apps" class="yuimenu">
                <div class="bd">
                  <ul>
                    <% if current_user %>
                      <li class="yuimenuitem">
                        <%= link_to 'My Apps', user_path(current_user), :class => "yuimenubaritemlabel" %>
                      </li>
                    <% end %>
                    <li class="yuimenuitem">
                      <%= link_to 'Recent', recent_path, :class => "yuimenubaritemlabel" %>
                    </li>
                    <li class="yuimenuitem">
                      <%= link_to 'Popular', popular_path, :class => "yuimenubaritemlabel" %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="yuimenubaritem">
              <% if current_user %>
                <%= link_to 'People', user_network_path(current_user), :class => "yuimenubaritemlabel" %>
              <% else %>
                <%= link_to 'People', lookup_user_path, :class => "yuimenubaritemlabel" %>
              <% end %>
              <div id="people" class="yuimenu">
                <div class="bd">
                  <ul>
                    <% if current_user %>
                      <li class="yuimenuitem">
                        <%= link_to 'My Network', user_network_path(current_user), :class => "yuimenubaritemlabel" %>
                      </li>
                    <% end %>
                    <li class="yuimenuitem">
                      <%= link_to 'Lookup a User', lookup_user_path, :class => "yuimenubaritemlabel" %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="yuimenubaritem">
              <%= link_to 'Downloads', downloads_path, :class => "yuimenubaritemlabel" %>
              <div id="people" class="yuimenu">
                <div class="bd">
                  <ul>
                    <li class="yuimenuitem">
                      <%= link_to 'Mac', mac_downloads_path, :class => "yuimenubaritemlabel" %>
                    </li>
                    <li class="yuimenuitem">
                      <%= link_to 'Linux', linux_downloads_path, :class => "yuimenubaritemlabel" %>
                    </li>
                    <li class="yuimenuitem">
                      <%= link_to 'Windows', windows_downloads_path, :class => "yuimenubaritemlabel" %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="bd">
      
      <div class="flashNotice"><%= flash[:notice] %></div>
      
      <%= yield  %>
      
    </div>
    
    <div id="ft">
      <%= link_to 'About', about_path %> | <%= link_to 'Privacy', privacy_path %> | <%= link_to 'Support', 'http://groups.google.com/group/installd' %> | <%= link_to 'Twitter', 'http://twitter.com/installd' %>
      <p class="trademarks">
        Apple&reg;, iPod touch&trade; and the iPhone&trade; <%= link_to 'are trademarks of', 'http://www.apple.com/legal/trademark/' %> Apple Inc., registered in the U.S. and other countries.
      </p>
    </div>
    
  </div>
  
  <%= render :partial => 'shared/analytics' if Rails.env.production? %>
</body>
</html>
