<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Installd</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<ul class="userSession">
  <%- if current_user -%>
    <li class="signOut">
      <%= link_to 'Sign Out', delete_user_session_path %>
    </li>
  <%- else -%>
    <li class="signIn">
      <%= link_to 'Sign In', new_user_session_path %>
    </li>
    <li class="register">
      <%= link_to 'Register', new_user_path %>
    </li>
  <%- end -%>
</ul>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
